.body-color {
    background-color: lightsteelblue;
}
.nav {
    overflow: hidden;
    background-color: #ffd800;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav a {
    float: right;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-right: 20px;
    font-size: 20px;
    padding: 14px 16px;
}

.nav a:hover {
    background: lightsteelblue;
    color: black;
}

.div-left {
    padding: 14px 16px;
    color: black;
    text-align: left;
    font-size: 18px;
}

.content {
    margin-top: 80px;
}

.card-view {
    background-color: whitesmoke;
    padding: 15px;
    height: 700px;
    overflow: auto;
    line-height: 1;
}

.comment-nav {
    font-weight: bold;
    font-size: 10pt;
    color: gray;
}

.comment-text {
    font-weight: bold;
    font-size: 11pt;
    color: black;
}

.product-header-name {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.product-header-price {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.comments-view {
    font-weight: bold;
    text-align: center;
    font-size: 14pt;
    margin-top: 10px;
}

.comments-add {
    font-weight: bold;
    text-align: center;
    font-size: 12pt;
    margin-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: whitesmoke;
}
.footer img {
    margin-top: 14px;
    margin-bottom: 16px;
}